image{
	width:50%;
	margin-top: 10px;
}

.card{
	width: 25%;
	background-color: #F2E6B0;
	border:1px solid #141412;
	border-radius: 20%;
	text-align:center;
	box-shadow: 4px 4px 5px -5px;
	padding-bottom: 5%;
	margin:0 auto;

}

.card:hover{
		box-shadow: 4px 4px 5px 5px #A2B5E2;
}

img{
	margin-top: 10px;
}

a{
	text-decoration: none;
}

a:hover{	
	text-transform: uppercase;	
}



@media screen and (min-width:100px) and (max-width:700px){
	img{
		width:40%;
	}
}

@media screen and (min-width:700px) and (max-width:1024px){
	img{
		width:45%;
	}
}

@media screen and (min-width:1024px){
	img{
		width:60%;
	}
}